.producto__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
}

.producto__content-img {
    color: var(--white);
}

.producto__content-img img {
    max-width: 300px;
}

.producto__content-title {
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.producto__content-img button {
    color: var(--white);
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 1px solid var(--white);
    padding: 1rem;
    align-items: center;
    transition: .3s;
}

.producto__content-img button:hover {
    color: var(--black);
    background-color: var(--white);
}